*{box-sizing: border-box;}
img{
    width: 100px;
    height: 80px;
    margin:0 auto;
}
.container{
    margin: 0 auto;
    max-width:1000px;
}
.wrapper{
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
}
.card{
    padding: 20px;
    width: 300px;
    max-height: fit-content;
    margin: 1em auto;
    text-wrap: wrap;
    text-align: center;
}