*{
    box-sizing: border-box;
}
.title{
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    margin: 0 auto;
    width:80%;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
}
.label-name{
    font-weight: 500;
    font-size: 1.27rem;
    font-family: sans-serif;
}
.form1{
    margin: 0 25%;
}
.input-class{
    width: 100%;
    outline: none;
    height: 30px;
    padding-left: 10px;
    border: orange solid 2px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.bio{
    height: 75px;
    vertical-align: top;
}
.submit-class{
    background-color: grey;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
}
.link-next{
    color: black;
    text-decoration: none;
    float: left;
}
.link-next:hover{
    color: #F3D34A;
    text-decoration: underline;
    transition: left 1s;
}
