body{
    margin: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.content{
    list-style: none;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    border: 1px solid black;
}
.content p{
    text-align: justify;
}
@media screen and (max-width:550px) {
    .row{
        display: flex;
        flex-direction:column;
    }
}